<section data-ng-controller="UsersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Manage users</h1>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th class="col-lg-2">First name</th>
                <th class="col-lg-2">Last name</th>
                <th class="col-lg-2">Username</th>
                <th class="col-lg-2">email</th>
                <th class="col-lg-1">Role</th>
                <th class="col-lg-2">Created</th>
                <th class="col-lg-1"></th>

            </tr>
        </thead>

        <tbody>
        <tr data-ng-repeat="users in users">


            <td data-ng-bind="users.firstName"></td>
            <td data-ng-bind="users.lastName"></td>
            <td data-ng-bind="users.username"></td>
            <td data-ng-bind="users.email"></td>
            <td data-ng-bind="users.roles"></td>
            <td data-ng-bind="users.created | date:'medium'"></td>
            <td><a data-ng-href="#!/users/{{users._id}}/edit"><i class="glyphicon glyphicon-edit"></i></a></td>




        </tr>
        </tbody>

    </table>



</section>
